node red flow.json
[{"id":"ef8b0c47.89464","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a0757bc6.3ac788","type":"ibmiot","z":"","name":"API","keepalive":"60","serverName":"kg0p6r.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"da2bb438.c2b718","type":"ui_tab","z":"","name":"smart_kitchen ","icon":"dashboard","disabled":false,"hidden":false},{"id":"19324344.bd6a0d","type":"ui_group","z":"","name":"cylinder_weight","tab":"da2bb438.c2b718","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3520d35.6c15f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e78b330.9f7a4c","type":"ui_group","z":"","name":"jar-weight","tab":"da2bb438.c2b718","order":3,"disp":true,"width":"6","collapse":false},{"id":"4e84342a.77d52c","type":"ui_group","z":"","name":"current_status","tab":"da2bb438.c2b718","order":4,"disp":true,"width":"6","collapse":false},{"id":"33a94f0e.61524","type":"ui_group","z":"","name":"jar_status","tab":"da2bb438.c2b718","order":5,"disp":true,"width":"6","collapse":false},{"id":"bd555a02.900608","type":"ui_group","z":"","name":"EXHAUST ON","tab":"da2bb438.c2b718","order":5,"disp":true,"width":"6","collapse":false},{"id":"84947f66.e35c9","type":"ui_group","z":"","name":"EXHAUST OFF","tab":"da2bb438.c2b718","order":6,"disp":true,"width":"6","collapse":false},{"id":"d6ba6dcc.080b4","type":"ibmiot in","z":"ef8b0c47.89464","authentication":"apiKey","apiKey":"a0757bc6.3ac788","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"project-15","applicationId":"","deviceType":"raspberrypi","eventType":"smart_kitchen","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":70,"y":160,"wires":[["a66564a4.8f1fa8","a91f2b53.663ca8","39c79dcb.457bd2","38ccb347.3acd8c","8c332a56.df1628"]]},{"id":"a66564a4.8f1fa8","type":"debug","z":"ef8b0c47.89464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":160,"wires":[]},{"id":"a91f2b53.663ca8","type":"function","z":"ef8b0c47.89464","name":"cylinder_weight","func":"global.set('cylinder_weight',msg.payload.cylinder_weight)\nmsg.payload=msg.payload.cylinder_weight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":40,"wires":[["a66564a4.8f1fa8","e5cd5746.d40e78"]]},{"id":"39c79dcb.457bd2","type":"function","z":"ef8b0c47.89464","name":"jar_weight","func":"global.set('jar_weight',msg.payload.jar_weight)\nmsg.payload=msg.payload.jar_weight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":300,"wires":[["a66564a4.8f1fa8","36d098ac.05e038"]]},{"id":"8c332a56.df1628","type":"function","z":"ef8b0c47.89464","name":"jar_status","func":"global.set('jar_status',msg.payload.jar_status)\nmsg.payload=msg.payload.jar_status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["a66564a4.8f1fa8","29e4490.d62d3b8"]]},{"id":"38ccb347.3acd8c","type":"function","z":"ef8b0c47.89464","name":"current_status","func":"global.set('current_status',msg.payload.current_status)\nmsg.payload=msg.payload.current_status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":40,"wires":[["a66564a4.8f1fa8","73a29b42.0ad7b4"]]},{"id":"e5cd5746.d40e78","type":"ui_gauge","z":"ef8b0c47.89464","name":"cylinder_weight","group":"19324344.bd6a0d","order":0,"width":0,"height":0,"gtype":"donut","title":"cylinder_weight","label":"kilograms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":40,"wires":[]},{"id":"36d098ac.05e038","type":"ui_gauge","z":"ef8b0c47.89464","name":"jar_weight","group":"3e78b330.9f7a4c","order":1,"width":0,"height":0,"gtype":"gage","title":"jar_weight","label":"grams","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":100,"wires":[]},{"id":"73a29b42.0ad7b4","type":"ui_gauge","z":"ef8b0c47.89464","name":"current_status","group":"4e84342a.77d52c","order":0,"width":0,"height":0,"gtype":"gage","title":"current_status","label":"kilograms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":160,"wires":[]},{"id":"29e4490.d62d3b8","type":"ui_gauge","z":"ef8b0c47.89464","name":"jar_status","group":"33a94f0e.61524","order":0,"width":0,"height":0,"gtype":"gage","title":"jar_status","label":"grams","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":220,"wires":[]},{"id":"8e29eb85.d67248","type":"ui_button","z":"ef8b0c47.89464","name":"","group":"bd555a02.900608","order":0,"width":0,"height":0,"passthru":false,"label":"EXHAUST ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"exhauston\"}","payloadType":"str","topic":"","x":210,"y":440,"wires":[["58c1fd64.2c9984","1a95e5e9.f66bca"]]},{"id":"bd6a9ffb.3c311","type":"ui_button","z":"ef8b0c47.89464","name":"","group":"84947f66.e35c9","order":0,"width":0,"height":0,"passthru":false,"label":"EXHAUST OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"exhauston\"}","payloadType":"str","topic":"","x":210,"y":540,"wires":[["58c1fd64.2c9984","1a95e5e9.f66bca"]]},{"id":"58c1fd64.2c9984","type":"ibmiot out","z":"ef8b0c47.89464","authentication":"apiKey","apiKey":"a0757bc6.3ac788","outputType":"evt","deviceId":"project-15","deviceType":"raspberrypi","eventCommandType":"smart_kitchen","format":"json","data":"blink","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":520,"wires":[]},{"id":"1a95e5e9.f66bca","type":"debug","z":"ef8b0c47.89464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"b68d5487.a08c48","type":"http in","z":"ef8b0c47.89464","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":210,"y":680,"wires":[["319d53be.99b6bc"]]},{"id":"fc447542.5ea888","type":"http response","z":"ef8b0c47.89464","name":"","statusCode":"","headers":{},"x":570,"y":680,"wires":[]},{"id":"319d53be.99b6bc","type":"function","z":"ef8b0c47.89464","name":"web url","func":"msg.payload={\"cylinder_weight\":global.get(\"cylinder_weight\"),\"current_status\":global.get(\"current_status\"),\"jar_weight\":global.get(\"jar_weight\"),\"jar_status\":global.get(\"jar_status\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":620,"wires":[["fc447542.5ea888"]]},{"id":"b862bd99.4f53c","type":"function","z":"ef8b0c47.89464","name":"app","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":360,"wires":[["b06c19a0.6bcd38","1a95e5e9.f66bca","58c1fd64.2c9984"]]},{"id":"47cea2d.e33135c","type":"http in","z":"ef8b0c47.89464","name":"","url":"/kitchen","method":"get","upload":false,"swaggerDoc":"","x":180,"y":380,"wires":[["b862bd99.4f53c"]]},{"id":"b06c19a0.6bcd38","type":"http response","z":"ef8b0c47.89464","name":"","statusCode":"","headers":{},"x":570,"y":340,"wires":[]}]